@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --principal: #0A3871;
    --gray: #343A40;
}

* {
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F3F5FC;
}

header {
    width: 100%;
    margin: 20px 0;
}


.contenedor-texto {
    width: 500px;
    margin: 20px 20%;
}

#texto-introducido {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    border: none;
    outline: none;
    background: transparent;
    color: var(--principal);
    font-size: 24px;
    resize: vertical;
}

#texto-introducido::placeholder {
    font-size: 24px;
    color: var(--principal);
}

.contenedor-muestra {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 80%;
    position: absolute; 
    top: 100px;
    right: 30px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 8px var(--gray);
    text-align: center;
}

.contenedor-muestra > img {
    width: 100%;
}

.contenedor-muestra h2 {
    margin: 30px 0;
}

.contenedor-botones {
    width: 500px;
    margin: 300px 20% 0;
}

#advertencia {
    color: var(--gray);
}

.botones {
    margin: 20px 0;
}

button {
    width: 40%;
    height: 40px;
    margin: 0 5px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 500ms;
}

button:hover {
    transform: scale(1.05);
}

#boton-encriptar {
    border: none;
    background-color: var(--principal);
    color: #FFFFFFFF;
}

#boton-desencriptar {
    border: 1px solid var(--principal);
    background: transparent;
    color: var(--principal);
}

.contenedor-muestra-responsivo {
    display: none;
}

/* Media queries */ 

@media screen and (max-width: 1024px) {
    main {
        margin: 0 auto;
    }

    .contenedor-texto {
        margin: 0 auto;
    }

    .contenedor-muestra {
        display: none;
    }

    .contenedor-botones {
        margin: 50% auto 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    button {
        width: 220px;
    }

    .contenedor-muestra-responsivo {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
        margin: 50px auto;
        padding: 30px;
        border-radius: 20px;
        box-shadow: 0 0 8px var(--gray);
        text-align: center;
    }

    .contenedor-muestra-responsivo h2 {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 468px) {
    .contenedor-texto, #texto-introducido {
        width: 300px;
        height: auto;
    }

    .contenedor-botones {
        width: 300px;
        margin: 0 auto;
    }

    .botones {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 50px 0 0;
    }
}